/* Sidenav bar styling */
.toggle-btn {
  position: fixed;
  top: 8px;
  left: 20px;
  z-index: 100;
  background-color: #2780e3;
  border: none;
  border-radius: 6;
}

.toggle-btn:focus {
  outline: none;
}

.toggle-btn:hover + .sidenav {
  transform: translateX(0);
}

.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 3; /* set a higher z-index than the overlays */
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 60px;
  /* transition: all 0.3s ease; */
  /* transform: translateX(-220px); */
  text-align: left;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidenav.open {

  width: 250px;
  transform: translateX(0);
}

.content {
  margin-left: 250px; /* set to the same width as the sidenav */
  transition: margin-left 0.3s ease; /* add a transition effect */
}

.sidenav.open ~ .content {
  margin-left: 250px; /* adjust to the width of the sidenav when open */
}

.sidenav .navbar-brand {
  font-size: 24px;
  color: #fff;
  margin: 0;
  padding: 20px 15px;
  display: block;
  text-align: center;
  border-bottom: 1px solid #555;
}

.sidenav .navbar-nav {
  padding: 0;
  margin: 0;
}
.sidenav .nav-item {
  padding: 8px 10px;
}

.sidenav .nav-link {
  display: block;
  padding :10px 20px;
  font-size: 18px;
  text-decoration: none;
  /* transition: all 0.2s ease; */
  color: #000000;
  /* text-align: center; */
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  transition: color 0.3s;
}



/* .sidenav .nav-link:hover {
    background-color: #03c988;
  } */

.sidenav .nav-link:hover {
  color: #fff;
  background-color: #1c5cc3;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.sidenav .btn-danger {
  position: absolute;
  bottom: 0;
  margin: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #d9534f;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  /* transition: all 0.2s ease; */
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  transition: color 0.3s;
}

.sidenav .btn-danger:hover {
  background-color: #c9302c;
  cursor: pointer;
}

.nav-link {
  font-weight: 500;
}

.nav-link {
  text-decoration: none;
}

/* Sidenav bar styling */
